<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837028073369-e6vd76p0hknso0oifjq49n43cl32n0nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837028073369-e6vd76p0hknso0oifjq49n43cl32n0nu</string>
	<key>API_KEY</key>
	<string>AIzaSyAfGe2rH3-PogdxPwEpMyNOKbBQWLHHCfg</string>
	<key>GCM_SENDER_ID</key>
	<string>837028073369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multiplatform</string>
	<key>PROJECT_ID</key>
	<string>multiplatform-154d6</string>
	<key>STORAGE_BUCKET</key>
	<string>multiplatform-154d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837028073369:ios:6a08467ec345d640180d08</string>
</dict>
</plist>